<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helonghai.tc.client.mapper.ClientTwoMapper">
  	
  	<insert id="insertUser">
  		insert into tb_user(id,name,create_time,update_time) values (#{id},#{name},#{createTime},#{updateTime});
  	</insert>
  	
</mapper>